@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  @apply text-lg text-slate-600;
}

@layer utilities {
  .animate-fade {
    animation: fade 0.15s ease-in;
  }
  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .animate-bar {
    animation: expand 0.5s ease-in;
    animation-fill-mode: forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: "100%";
    opacity: 1;
  }
}
